@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
@import "tailwindcss";

body {
  font-family: "CircularXXWeb", sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: #fcf7f6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-box {
  background-color: #f3ded9;
  border: 2px solid #e1796b;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 2rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.info-box h2 {
  color: #e1796b;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  margin-top: 0;
  margin-bottom: 15px;
}

.info-box h2 i {
  margin-right: 10px;
}

.info-content {
  font-size: 0.9rem;
  line-height: 1.5;
  color: #000000;
}

.info-box p {
  margin-bottom: 12px;
}

.info-box p:last-child {
  margin-bottom: 0;
}

.info-box strong {
  color: #e1796b;
}


@media (max-width: 768px) {
  #app {
    padding: 1rem;
  }

  h1 {
    font-size: 2rem;
  }

  .info-box {
    padding: 10px;
  }
}
